network:
  ethernets:
    enp11s0f1:
      dhcp4: false
      dhcp6: false
  # add configuration for bridge interface
  bridges:
    br0:
      interfaces: [enp11s0f1]
      dhcp4: false
      addresses: [10.1.0.3/24]
      macaddress: 00:26:55:dd:ed:91
      routes:
        - to: default
          via: 10.1.0.1
          metric: 100
      nameservers:
        addresses: [8.8.8.8]
      parameters:
        stp: false
      dhcp6: false
  version: 2
